main {
  width: 15vw;
  margin-top: 200px;
  margin-inline: auto;
}

h2 {
  height: 25px;
  text-align: right;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
}